.wines-card {
  background-color: #e2e2e2;;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
  width: calc((100% / 4) - 3rem);
  padding: 1rem;
}

.wines-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 190px;
}

.wines-card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wines-card__info {
  margin-left: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.wines-card__info h2 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.wines-card__info p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.wines-card__button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.wines-card__button:hover {
  background-color: #0069d9;
}

.wines-card__button:active {
  background-color: rgb(101, 236, 83);
}

@media screen and (max-width: 1024px) {
  .wines-card {
    width: calc(33.33% - 1em);
  }
}

@media screen and (max-width: 768px) {
  .wines-card {
    width: calc(50% - 1em);
  }
}

@media screen and (max-width: 480px) {
  .wines-card {
    width: calc(100% - 1em);
  }
}